<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Custom validation</title>
  <link rel="stylesheet" href="form.css">
</head>
<body ng-app='app'>
  <div>
    <form  name="form" class="css-form"  novalidate>
      <div>
        <label>
          Size (integer 0 - 10):
          <input type="number" name="size" ng-model="size" min="0" max="10"
            integer/>{{size}}
        </label>
        <br />
        <span ng-show="form.size.$error.integer">
          The value is not a valid integer!
        </span>
        <span ng-show="form.size.$error.min || form.size.$error.max">
          The value must be in range 0 to 10!
        </span>
      </div>

      <div>
        <label>
          Username:
          <input type="text" name="name" ng-model="name" username />{{name}}
        </label>
        <br />
        <span ng-show="form.name.$pending.username">
          Checking if this name is availabe...
        </span>
        <span ng-show="form.name.$error.username">
          This username is already taken!
        </span>
      </div>
    </form>
  </div>
  <script
   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.js">
  </script>
  <script src="app10.js"></script>
</body>
</html>
